<div class="container-fluid">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <mat-card>
                <mat-card-header>
                    <img src="https://cdn.moneyme.com.au/web2/images/Global/mme-logo.svg" /> <u><h1>Challenge App</h1></u>
                </mat-card-header>
                <mat-card-content>
                    <div>
                        <p>
                            This application is my take on the MoneyMe Challenge. I personally received the challenge of the MoneyMe Challenge because I simply like taking on challenges.
                            Although I like challenges, MoneyMe provided me chance to play around with their ideas. Thus this is the result of the challenge.
                        </p>
                    </div>
                    <div>
                        <u><h2>Challenge Details:</h2></u>
                        <p>
                            The Challenge Details...
                        </p>
                    </div>
                    <div>
                        <u><h2>How it Went:</h2></u>
                        <p>
                            How it went Details...
                        </p>
                    </div>
                </mat-card-content>
            </mat-card>            
        </div>
        <div class="col-2"></div>
    </div>
</div>